.wy-side-nav-header a.logo {
    background: url("_static/images/DevelDeck.png") no-repeat left center;
}

.wy-side-nav-header a.logo img {
    max-height: 50px;
    width: auto;
    display: block;
    margin: 5px 0;
}